body {
  font-family: Arial, Helvetica, sans-serif;
}
small {
  position: relative;
  top: 30px;
}
h1 {
  color: #0fa3b1;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #4d5061;
  line-height: 19px;
  font-weight: 100;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  background-color: #e4a0a8;
  height: 600px;
  border-radius: 4px;
}
.last-updated li {
  color: #6d7188;
  line-height: 40px;
}
.weather-forecast h3 {
  color: #4d5061;
  font-size: 16px;

  height: 20px;
  line-height: 15px;
}
.forecast-temp {
  color: #0fa3b1;
  font-size: 16px;
}
.forecast-table {
  text-transform: capitalize;
  text-align: center;
}
.forecast-table img {
  display: block;
  margin: 0 auto;
  height: 58px;
  width: 58px;
}
.find-button {
  background-color: #0fa3b1;
  border: 1px solid #6d7188;
  border-radius: 8px;
  color: #ffffff;
  padding: 10px;
  transition: all 200ms ease-in-out;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
.find-button:hover {
  cursor: pointer;
  background: #4d5061;
}
.search-button {
  background-color: #0fa3b1;
  border: 1px solid #6d7188;
  border-radius: 8px;
  color: #ffffff;
  padding: 10px;
  transition: all 200ms ease-in-out;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
.search-button:hover {
  cursor: pointer;
  background: #4d5061;
}

.weather-box {
  background-color: #eed9d3;
  padding: 20px;
  border: 1px solid #6d7188;
  border-radius: 4px;
  position: relative;
  top: 30px;
}
.weather-box-wrapper {
  max-width: 600px;
  margin: 10px auto;
}
.weather-description {
  font-size: 32px;

  line-height: 48px;
}
.weather-temp {
  color: #0fa3b1;
  font-size: 60px;
  font-weight: 400;
  position: relative;
  top: -5px;
}
.weather-unit {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #0fa3b1;
}
.icon {
  position: relative;
  top: -15px;
}
.hum-speed {
  position: relative;
  top: 15px;
}
.weather-unit .active {
  color: #4d5061;
  cursor: default;
}
.weather-unit .active:hover {
  text-decoration: none;
}
.code-link {
  color: #0fa3b1;
}
.code-link:hover {
  text-decoration: none;
}
